body {
    background-color: aquamarine;
    color: darkgoldenrod;
}
h1 {
    color:rebeccapurple
}
#poseban    {
color:purple;
font-weight:  700;
}
/*
komentar
*/
.wrapper{
    background-color: green;
    height: 200px;
    width: 700px;
    padding: 20px auto;
    border: 5px solid brown;
    overflow: scroll;
}
.bottom{
    background-color: pink;
}
.x{
    color: black;
    font-weight: 700;
    display: block;
    opacity: 0.2;;
}
.wrapper, p{
color: red;
}